.drawer-default {
  .ant-drawer-header {
    background: #f7f8fa;
    border-bottom: 1px solid #EBECF0;
    font-weight: 600;
    font-size: 18px;
    color: #0C4299;
    padding: 16px 24px;
  }
  .ant-drawer-body {
    padding: 16px 24px;
  }
  .ant-drawer-footer {
    border-top: 1px solid #EBECF0;
    padding: 10px 24px;
    background: #fafbfc;
  }
}
